/* Example Styles for React Tags*/
.modal-box {
  .app {
    @apply p-3;
    text-align: center;
  }
}

/* Example Styles for React Tags*/

.ReactTags__tags {
  position: relative;
}

/* Styles for the input */

.ReactTags__tagInput {
  input.ReactTags__tagInputField {
    @apply w-full input input-primary input-bordered focus:ring-1;
  }
}

/* Styles for selected tags */

.ReactTags__selected {
  @apply space-x-1 mt-4;
  span.ReactTags__tag {
    @apply badge badge-lg my-1;
  }

  button.ReactTags__remove {
    color: #aaa;
    cursor: pointer;
    @apply ml-1;
  }
}

/* Styles for suggestions */

.ReactTags__suggestions {
  position: absolute;

  ul {
    @apply bg-gray-800;
    list-style-type: none;
    width: 150px;
  }

  li {
    mark {
      @apply bg-purple-400;
    }
  }

  ul li.ReactTags__activeSuggestion {
    @apply bg-primary;
    cursor: pointer;
  }
}
